[Unit]
Description=Monitor Noturno para Idoso
After=network.target

[Service]
Type=simple
User=oper
WorkingDirectory=/home/oper/elderly-monitor
ExecStart=/home/oper/elderly-monitor/venv/bin/python main.py
Restart=on-failure
RestartSec=10
StandardOutput=append:/home/oper/elderly-monitor/monitor.log
StandardError=append:/home/oper/elderly-monitor/monitor.log
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
